<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<section id="gigs" class="container">
    <h1>All Gigs</h1>

      <div class="gig">
      <h3>TEST</h3>
      <p>TEST1</p>
      <ul>
        <li>Budget: </li>
        <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Technologies Needed: <span></span></small>
      </div>
    </div>
   
      <p>No gigs available</p>
    
  </section>
</div>