<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
    }
</style>

<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>

<br>

<h2>HTML Forms</h2>

<form action="/action_page.php">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="describe">Enter description:</label><br>
    <input type="text" id="describe" name="describe"><br>
    <label for="price">Enter asking price:</label><br>
    <input type="number" id="price" name="price"><br>
    <input type="submit" value="Submit">
</form>