
  <section id="add" class="container">
    <div class="form-wrap">
      <h1>Sell Your Phone</h1>
      <p>Your contact email will be shared with verified buyers</p>
      <form>
        <div class="input-group">
          <label for="make">Phone Make</label>
          <input type="text" name="make" id="title" class="input-box" placeholder="eg. Nokia, Samsung, Apple, etc.."
            maxlength="100" required>
        </div>
        <div class="input-group">
          <label for="model">Model</label>
          <input type="text" name="model" id="technologies" class="input-box" placeholder="eg. iPhone 8, Samsung Galaxy S3, etc.."
          maxlength="100">
        </div>
        <div class="input-group">
          <label for="price">Asking Price</label>
          <input type="number" name="price" id="price" class="input-box" placeholder="eg. $200,$140,etc..">
        </div>
        <div class="input-group">
          <label for="description">Phone Condition</label>
          <textarea name="description" id="description" class="input-box" placeholder="Describe the Condition of the current state of the phone."
            rows="10" required></textarea>
        </div>
        <div class="input-group">
          <label for="budget">Contact Email</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email"
            required>
        </div>
        <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
       <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
       <p><img id="output" width="200" /></p>  

        <input type="submit" value="Post Your Phone for Sale" onclick=sellAlert() "btn btn-reverse">
            <script>
                                    function sellAlert() {
                                      alert("Thank for your submission, it will be posted upon review and approval.");
                                    }
                                    </script>
                              </div>
      </form>
    </div>
  </section>
