<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E-Commerce App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    {{{ body }}}
  </body>

</html>
