<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <div class="row">
      	<h2>Order successful!</h2>
		  </div> 
      <a class="btn btn-default" href="/products">Return to Products</a>
      <a class="btn btn-default" href="/orders">View Orders</a>
    </div>
  </div>
</div>
